<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <a href="/foodies">All Foodies Reservation's</a>
      <a href="/foodies/new">New Foodies Reservation's</a>
  </body>
</html>
