<!DOCTYPE html>
<html>
  <head>
    <title>TITLE</title>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <img src="/images/images.jpg">
      
      <% if (user) { %>
        <a href="/foodies">Existing Reservations</a>
      <a href="/foodies/new">Create New Reservation </a>
      <a href="/restaurants/new">Add Restaurant</a>
      <a href="/foodies">All Reservations</a>
      <a href="/logout">LOG OUT</a>
		<% } else { %>
		  <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
		<% } %>
     
    </nav>
    <main>
    <table id="list">
      <thead>
        <tr>
        <th>Cuisine</th>  
        <th>Stars</th>
        <th>Ratings</th>
        <th></th>
        </tr>
      </thead>
      <tbody>
        <% foodieDocs.forEach(function(f) { %>
        <tr>
          <td><%= f.typeOfFood %></td>
          <td><%= f.reviewRating %></td>
          <td>
            <a href="/foodies/<%= f._id %>">DETAILS</a>
            
            </button>
          </td>
        </tr>
        <% }); %>
        </tbody>
      
      </table>
      
    </main>
  </body>
  
  </html>